.header{
	width: 80%;
	height:50px;
	background-color: #00b300;
	margin: auto;
}
.menu{
	width: 80%;
	height:20px;
	background-color: #1aff1a;
	margin: auto;
}
.main{
	 width: 80%;
	 height:500px;
	 background-color: #ccffcc;
	 margin: auto;
}
.sub-content1{
	 width: 45%;
	 background-color: #ffccff; /*pink */
	 float: left;
	 margin: 10px;
}
